*.o
*.a
callgrind.out.*
/zemu
/src/zemu
/src/make
.cproject
.project
Debug
CMakeCache.txt
CMakeFiles
/Makefile
/ZEmuConfig.h
cmake_install.cmake
/lib_zame_z80-src
/lib_zame_z80
/rm-cm
/src/*.sna
/src/*.tap
/install_manifest.txt
.DS_Store
