#
# Standart ZX keys
#

`			: cs 1
1			: 1
2			: 2
3			: 3
4			: 4
5			: 5
6			: 6
7			: 7
8			: 8
9			: 9
0			: 0
-			: ss j
=			: ss l
backspace	: cs 0
tab			: cs ss
q			: q
w			: w
e			: e
r			: r
t			: t
y			: y
u			: u
i			: i
o			: o
p			: p
a			: a
s			: s
d			: d
f			: f
g			: g
h			: h
j			: j
k			: k
l			: l
;			: ss o
'			: ss p
ent			: ent
z			: z
x			: x
c			: c
v			: v
b			: b
n			: n
m			: m
,			: ss n
.			: ss m
/			: ss v
shift		: cs
lctrl		: cs
alt			: ss
spc			: spc
up			: cs 7
down		: cs 6
left		: cs 5
right		: cs 8
del			: cs 0
pgup		: cs 3
pgdn		: cs 4

#
# Extended keys
#

shift	;	: ss z
shift	=	: ss k
shift	9	: ss 8
shift	0	: ss 9
shift	-	: ss 0
shift	8	: ss b
shift	'	: ss 7
shift	1	: ss 1
shift	2	: ss 2
shift	3	: ss 3
shift	4	: ss 4
shift	5	: ss 5
shift	6	: ss h
shift	7	: ss 6
shift	/	: ss c
shift	,	: ss r
shift	.	: ss t

#
# Emulator actions
#
# @reset - reset
# @reset_trdos - reset to trdos
# @max_speed - toggle max speec
# @quick_load - quick load
# @quick_save - quick save
# @anti_flicker - toggle antiflicker
# @load_file - open file dialog
# @fullscreen - toggle fullscreen
# @debugger - open debugger
# @turbo - cycle through turbo modes (1x, 2x, 4x, 8x)
# @unturbo - cycle backward through turbo modes (8x, 4x, 2x, 1x)
# @attrib_hack - cycle through attrib hacks
# @screens_hack - toggle screens hack
# @flash_color - toggle flash color
# @pause - pause
# @joy_on_keyb - toggle joystick on the keyboard
#

f1			: @flash_color
f2			: @turbo
ctrl f2		: @unturbo
f3			: @load_file
f4			: @debugger
f5			: @anti_flicker
f6			: @attrib_hack
ctrl f6		: @screens_hack
f7			: @max_speed
f9			: @quick_load
f10			: @quick_save
f11			: @pause
f12			: @reset
ctrl f12	: @reset_trdos
ctrl ent	: @fullscreen
ctrl f1		: @joy_on_keyb

#
# File selector
#
# s - save disk
# e - eject disk
# d - eject tape
# r - rewind tape
# t - start/stop tape
# w - toggle wrprotect on the disk
#

#
# Debugger
#
# f2 - toggle breakpoint
# w - toggle watch
# f4 - toggle hex mode
# f3 - show/hide labels
# g - go to address
# p - poke
# f7 - step
# f8 - step over
# f9 - run to address
# f12 - toggle wd1793 debug
#
