<root>
  <Drives>
    <A>"/home/rst/work/compiles/zemu/discs/"</A>
    <B></B>
    <C></C>
    <D></D>

    <NoDelay>no</NoDelay>
    <AppendBoot>boot/BOOT.$B</AppendBoot>
  </Drives>

  <Roms>
    <32k>roms/pentagon.rom</32k>
    <Comment>
      <48>roms/2006.rom</48>
      <128>roms/glukpen.rom</128>
    </Comment>

    <TrDos>roms/trdos.rom</TrDos>
  </Roms>

  <ArcPluginsDir>arc/</ArcPluginsDir>

  <UseFlipSurface>no</UseFlipSurface>
  <FullScreen>no</FullScreen>
  <Scale2x>yes</Scale2x>
  <Scanlines>no</Scanlines>
  <SnapFormat>sna</SnapFormat>

  <Enable512>yes</Enable512>
  <EnableEFF7>no</EnableEFF7>
  <Enable1024>no</Enable1024>
  <OldEFF7Mode>no</OldEFF7Mode>
  <UseEFF7Turbo>no</UseEFF7Turbo>

  <Keys>keys.config</Keys>
  <AntiFlicker>no</AntiFlicker>
  <MouseDiv>2</MouseDiv>
  <ShowInactiveIcons>no</ShowInactiveIcons>

  <AyChip>
    <Chip>ym</Chip>
    <Vol>ay</Vol>
    <Pan>acb</Pan>
  </AyChip>

  <TsfmMode>tsfm</TsfmMode>
  <EnableCovox>no</EnableCovox>

  <SoundEnable>yes</SoundEnable>
  <MixerMode>1</MixerMode>
  <UseSdlSound>no</UseSdlSound>
  <SdlBufferSize>4</SdlBufferSize>
  <OssFragNum>128</OssFragNum>
  <WqSize>5</WqSize>

  <Joysticks>
    <Kempston>
      <Enable>yes</Enable>
      <SysJoystickNum>-1</SysJoystickNum>
      <AxisTreshold>3200</AxisTreshold>
    </Kempston>
  </Joysticks>

  <CpuTrace>
    <Enabled>no</Enabled>
    <Format>"[PC]> [M1]:[M2] dT=[DT] AF=[AF] BC=[BC] DE=[DE] HL=[HL] IX=[IX] IY=[IY] SP=[SP] I=[I] R=[R]"</Format>
    <FileName>cputrace.log</FileName>
  </CpuTrace>
</root>
